$colors: (
  dark: (
    color: #201E1E
  ),
  bright: (
   color: #fbf6f6
  ),
  main: (
    color: #d64535
  ),
  main2: (
    color: #ffffff
  ),

  primary: (
    100: hsl(144, 100%, 80%),
    200: hsl(144, 100%, 60%),
    300: hsl(144, 100%, 45%),
    400: hsl(144, 100%, 25%),
    500: hsl(144, 100%, 15%),
  ),
  contrast: (
    100: hsl(0, 0%, 98%),
    200: hsl(0, 0%, 80%),
    300: hsl(0, 0%, 60%),
    400: hsl(0, 0%, 50%),
    500: hsl(0, 0%, 35%),
    600: hsl(0, 0%, 25%),
    700: hsl(0, 0%, 12%),
    750: hsl(0, 0%, 7%),
    800: hsl(0, 0%, 2%),
  ),
  signal-green: (
    100: hsl(90, 94%, 50%),
    200: hsl(90, 94%, 40%),
    300: hsl(90, 94%, 30%),
    400: hsl(90, 94%, 20%),
    500: hsl(90, 94%, 10%),
  ),
  signal-red: (
    100: hsl(0, 60%, 55%),
    200: hsl(0, 60%, 45%),
    300: hsl(0, 60%, 35%),
    400: hsl(0, 60%, 25%),
    500: hsl(0, 60%, 15%),
  ),
);
